export(clean_emotiv, create_confmatrix,create_featuredict,evaluatemodel,train_model,extract_features)
importFrom("stats", "aggregate", "fft", "is.ts", "predict", "quantile",
             "runif", "sd", "spectrum","na.omit","C","median")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "par", "plot", "plot.new",
      "legend","lines","text")
importFrom("utils", "read.csv", "write.csv")
